<p-portal>
  <ng-template>
    <div
      *ngIf="visible && backdropVisible"
      [@backdrop]
      class="backdrop"
      [ngClass]="{ 'backdrop--light': lightBackdrop }"
    ></div>
    <div
      #popoverElement
      [@popover]="{
        value: ':enter',
        params: { delay: backdropVisible ? '100ms' : '0ms' }
      }"
      *ngIf="visible"
      [ngStyle]="{
        top: (topPosition || 0) + 'px',
        left: (leftPosition || 0) + 'px'
      }"
      class="popover"
      [ngClass]="{ 'popover--center': !this.handle }"
    >
      <div (click)="$event.preventDefault()">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</p-portal>
