<p-portal>
  <ng-template>
    <div
      *ngIf="visible && backdropVisible"
      [@backdrop]
      (click)="closeOnBackdropClick && close.emit()"
      class="backdrop"
      [ngClass]="{ 'backdrop--light': lightBackdrop }"
    ></div>
    <div
      #popoverElement
      *ngIf="visible"
      [@popover]="{
        value: ':enter',
        params: { delay: backdropVisible ? '150ms' : '0ms' }
      }"
      [style.top]="(topPosition || 0) + 'px'"
      [style.left]="(leftPosition || 0) + 'px'"
      class="popover"
      tabindex="0"
    >
      <ng-content></ng-content>
    </div>
  </ng-template>
</p-portal>
