@import 'vars';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
  z-index: 10;

  &.backdrop--light {
    background: white;
  }
}

.popover {
  position: fixed;
  z-index: 11;

  &.popover--center {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
