@import 'vars';

.logo {
  color: $accent;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;

    p-icon {
      margin-right: 15px;
      font-size: $s6;
    }
  }
}
