@import 'vars';

.logo {
  color: $accent;
  cursor: pointer;
  @include disable-select();

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-transform: uppercase;

    p-icon {
      margin-right: 10px;
      font-size: $s6;
    }
  }

  &.logo--small {
    h2 {
      font-size: $s3;

      p-icon {
        font-size: $s5;
        margin-right: 8px;
      }
    }
  }
}
