@import 'vars';

.page-load-progress {
  background: $accent-2;
  height: 4px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.3s ease;

  &.page-load-progress__loading {
    transform: scale(0.3, 1);
    opacity: 1;
  }

  &.page-load-progress__complete {
    transform: scale(1);
    opacity: 0;
  }
}
